@import url(../base.css);
@import url('https://fonts.googleapis.com/css?family=Lato');

.section_footer {
	background: rgba(59, 67, 76, 0.9);
	position: relative;
	padding-top: 102px;
	padding-bottom: 110px;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
	background-size: cover;
	min-height: 100vh;
}

.section_footer::before {
	content: "";
	position: absolute;
	background: url(pic/city.jpg);
	background-size: cover;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.footer_container {
	max-width: 829px;
	padding: 0 10px;
	margin: 0 auto;
}

.heading_description-footer {
	color: white;
	margin: 0 auto 97px;
}

.footer_user-email, .footer_user-name, .footer_user-text {
	background-color: #fff;
	border-radius: 10px;
	padding: 2%;
	margin-bottom: 2%;
	border: 0;
	font-size: 16px;
	font-weight: 400;
	box-sizing: border-box;
}

.footer_user-email {
	float: left;
	width: 49%;
}

.footer_user-name {
	float: right;
	width: 49%;
}

.footer_user-text {
	display: block;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	line-height: 20px;
}

.footer_button {
	background-color: #f7600e;
	padding: 1% 10%;
	margin-bottom: 2%;
}

.footer_button-link {
	text-decoration: none;
	color: #fff;
}

.footer_social_links {
	float: right;
	width: 290px;
	text-align: center;
}

.footer_icon-soc {
	width: 43px;
	height: 43px;
	display: inline-block;
	margin: 2%;
	cursor: pointer;
}

.f_icon-fb {
	background: url(pic/fb.png);
}

.f_icon-tv {
	background: url(pic/tv.png);
}

.f_icon-gplus {
	background: url(pic/gplus.png);
}

.f_icon-ball {
	background: url(pic/ball.png);
}

.f_icon-behan {
	background: url(pic/be.png);
}

@media screen and (max-width: 768px) {
	.footer_user-email, .footer_user-name {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.footer_social_links {
		width: 100%;
	}
	.footer_container {
		text-align: center;
	}

	.footer_button {
		display: inline-block;
		width: 100%;
	}

	.section_footer{
		padding-bottom: 0;
	}
}
