@import url(../base.css);

header{
	margin:0 auto;
	max-width:1170px;
	text-align: center;
}
.navigation{
	margin-bottom: 180px;
	float:right;
	font-size: 0;
}
.nav__menu{
	display:inline-block;
	margin: 2px 0 0 0;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 17px;
}
.nav__menu-burger{
	display:inline-block;
	margin: 0 0 0 19px;
	width: 26px;
	height: 20px;
	background:url("img/031--list.png");
	vertical-align: top;
}
.header__logo{
	width:158px;
	height:18px;
	background: url("img/logo.png") no-repeat;
	background-size:100%;
	float:left;
}

h1{
	font-size: 70px;
	font-weight: 700;
	line-height: 58px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}
.header__span_h1{
	color: #f7600e;
}
.header__paragraph{
	margin-top:50px;
	text-align: center;
	color: #ffffff;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 40px;
}

.header__buttons_block{
	display: inline-block;
	margin-top: 60px;
	text-align: center;
}

.button__hire_us{
	display: inline-block;
	margin-right:15px;
	margin-left:-15px;
    min-width:210px;
	min-height:50px;	
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	line-height: 50px;
	text-transform: uppercase;
	border:0px solid transparent;
	border-radius: 10px;
	background-color: #f7600e;
	color:#fff;
}
.button__our_works{
	display: inline-block;
	min-width:210px;
	min-height:50px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	line-height: 50px;
	text-transform: uppercase;
	border:0px solid transparent;
	border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
	color:#fff;
}
.button__hire_us:hover,.button__our_works:hover{
	 background-color: #ffd400 ;
	 border-radius: 10px;
	 font-size: 16px;
	 font-weight: 600;
	 line-height: 50px;
	 text-transform: uppercase;
	 transition: all 0.4s ease-out;
	 cursor:pointer;
}
.nav__menu-burger:hover{
	cursor:pointer;
}
.button__circle_arrow{
	margin: 135px auto;
	width:34px;
	height:34px;
	background: url("img/014--circle-arrow-down.png") no-repeat;
	background-size: 100%;
}

.section_header{
	padding:50px 15px;
	background: rgba(59, 67, 76, 0.9);
	position: relative;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

.section_header::before {
	content: "";
	position: absolute;
	background-image: url(img/macbook-925614.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}





@media screen and (max-device-width: 480px){
	.nav__menu-burger{
	margin-right:20px;
	margin-top: -10px;
	width:50px;
	height:50px;
	background-size:100%;
	background-repeat: no-repeat;
	}
	h1{
		margin-top: 44%;
	}
	.header__span_h1{
		margin-top:5%;
		display: block !important;;
	}
	.header__paragraph{
		margin-top: 25.6%;
		font-size:1.37444rem;
	}
	.header__buttons_block{
		display:block;
	}
	.button__hire_us{
		display:block;
		margin:5% auto;
		width:210px;
		height:50px;
		text-align: center;
		font-size: 16px;
		font-weight: 600;
		line-height: 50px;
		text-transform: uppercase;
		border-radius: 10px;
	    border: 1px solid rgba(255, 255, 255, 0.2);
		color:#fff;
	}
	.button__our_works{
		display:block;
		margin:0 auto;
		width:210px;
		height:50px;
		text-align: center;
		font-size: 16px;
		font-weight: 600;
		line-height: 50px;
		text-transform: uppercase;
		border-radius: 10px;
	    border: 1px solid rgba(255, 255, 255, 0.2);
		color:#fff;
	}
}